<?xml version="1.0"?>
<configuration>
	<system.web>
		<customErrors mode="Off" />
		<authentication mode="None" />
		<identity impersonate="true" userName=".\Administrator" password="administrator" />
		<compilation batch="false" debug="true" explicit="true" strict="true" />
		<sessionState mode="StateServer" timeout="60" cookieName="csmsadmin" />
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" compilerOptions="/optimize+">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="true"/>
			</compiler>
		</compilers>
	</system.codedom>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="true"/>
		<handlers>
			<clear />
			<add name="js" verb="*" path="*.js" type="System.Web.StaticFileHandler"/>
			<add name="css" verb="*" path="*.css" type="System.Web.StaticFileHandler"/>
			<add name="img" verb="*" path="/themes/sparse/img/*" type="System.Web.StaticFileHandler"/>
			<add name="iisinfo" verb="*" path="/info/*" type="System.Web.UI.PageHandlerFactory" />
			<add name="handler" verb="*" path="/*" type="Handler" />
		</handlers>
	</system.webServer>
</configuration>
