<%@ Master Language="C#" MasterPageFile="~/masters/layout.master" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Web" %>
<script runat="server">
	private HtmlGenericControl body;
	private DBLayer dbl = new DBLayer();

	private void Page_Load(Object sender, EventArgs e) {
	}
</script>
