<%@ Master Language="C#" %>
<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>C&#9839MSAdmin 0.4.0 - The C&#9839 MSSQL Server Administration Project</title>
 </head>
 <body>
 </body>
</html>
